<html>
  <head>
    <title>View Main</title>
  </head>
  <body>
    <form action="/check" method="POST">
      <input type="text" name="username">
      <input type="date" name="birthday">
      <button type="submit">Verificar</button>
    </form>
  </body>
</html>
